.info{
    width: 100%;
    padding-left: 28px;
    color: #293845;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 33px;
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
}