.time{
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    margin-right: 8px;
    color: #FFF;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}